<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if !IE]><!--><html class="paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"  ng-app="ecommerce" ng-controller="catalogCtrl"><!-- <![endif]-->
<head>
    <title>{{titulo}}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!--
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="assets/less/shop/module.shop.stylesheet-complete.less" />
	-->

            <!--[if lt IE 9]><link rel="stylesheet" href="assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->

                    <link rel="stylesheet" href="assets/css/shop/module.shop.stylesheet-complete.min.css" />
        
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="assets/library/jquery/jquery.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="assets/library/jquery/jquery-migrate.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="assets/library/modernizr/modernizr.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="assets/plugins/core_less-js/less.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="assets/plugins/charts_flot/excanvas.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="assets/plugins/core_browser/ie/ie.prototype.polyfill.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>    <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

</head><body>

	<div class="container-fluid">
        <!-- Nav Bar -->   
<div class="navbar navbar-coral navbar-fixed-top" style="top: 0px">
    <!-- Nav Bar Header -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar "></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img data-ng-src="{{logoOficial}}" height="60" alt="logo"></a>
        </div>
        <!-- Nav Bar Collapse -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav main-menu">                
                <li ng-repeat="menu in listadoMenu" class="{{menu.active}}">
                    <a href="javascript:void(0);" ng-click="redirect(menu.ir,menu.name)" class="waves-effect"><span> {{menu.name}} </span> </a>                                
                </li>
            </ul>
        </div> 
        <!-- NavBar Collapse -->
        <!-- Nav Bar Right -->          
        <ul class="nav navbar-nav navbar-right right-side" style="margin-right: 80px;">
            <!-- User LogIn Button -->
            <li> 
                <div class="btn-group">
                    <a href="javascript:void(0);" ng-click="redirectcart()" class="btn btn-login"> Mi Carrito</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <!--a href="#login-menu" class="btn btn-login" data-toggle="collapse"> {{login}}</a>
                    <div class="collapse login" id="login-menu">
                        <form action="">
                            <div>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="{{email}}">
                                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <input type="password" class="form-control" placeholder="{{password}}">
                                    <span class="input-group-addon"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-login">{{entrar}}</button>
                            </div>
                            <div class="center">                          
                                <a href="" class="recover-password">{{recuperar}} <i class="fa fa-lock"></i></a>
                            </div>
                        </form>
                    </div-->                    
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- inicio contenido -->

<div ui-view></div>

<!-- fin contenido -->

    <div id="footer" class="hidden-print">
        <div class="container">

            <ul class="list-unstyled center">
                <li ng-repeat="menu in listadoMenu" class="{{menu.active}}" >
                    <a href="javascript:void(0);" ng-click="redirect(menu.ir,menu.name)" class="waves-effect"><span> {{menu.name}} </span> </a>                                
                </li>
            </ul>
            <div class="copy">{{copyright}}</div>     
        </div>
    </div>
    <!-- // Footer END -->
</div>


    <!-- Global -->
    <script data-id="App.Config">
        var App = {};        var basePath = '',
            commonPath = 'assets/',
            rootPath = '../',
            DEV = false,
            componentsPath = 'assets/components/';

        var primaryColor = '#eb6a5a',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;

            </script>
		<script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-swagger-ui/dist/scripts/swagger-ui.js"></script>
        <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-spinkit/src/angular-spinkit.js"></script>
        <script src="bower_components/angular-md5/angular-md5.js"></script>
        <script src="extern_modules/angular-jwt/dist/angular-jwt.js"></script>
        <script src="extern_modules/a0-angular-storage/dist/angular-storage.js"></script>

        <script type="text/javascript" src="config/app_ecommerce.js"></script>
		<script type="text/javascript" src="config/routes_ecommerce.js"></script>
		
		<script type="text/javascript" src="scripts/ecommerce/controller/catalogCtrl.js"></script>
		<script type="text/javascript" src="scripts/ecommerce/controller/productCtrl.js"></script>
		<script type="text/javascript" src="scripts/ecommerce/controller/cartCtrl.js"></script>
		<script type="text/javascript" src="scripts/ecommerce/controller/shippingCtrl.js"></script>
		<script type="text/javascript" src="scripts/ecommerce/controller/paymentCtrl.js"></script>
		<script type="text/javascript" src="scripts/ecommerce/controller/confirmationCtrl.js"></script>
        
        <script type="text/javascript" src="scripts/ecommerce/services/LayoutService.js"></script> 
        <script type="text/javascript" src="scripts/ecommerce/services/productosService.js"></script> 

		<script src="assets/library/bootstrap/js/bootstrap.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/front_core/front.core.init.js?v=v2.0.0-rc1"></script>
		<script src="assets/components/shop_core/shop.animations.init.js?v=v2.0.0-rc1"></script>
		<script src="assets/plugins/core_preload/pace.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/core_preload/preload.pace.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/plugins/media_owl-carousel/owl.carousel.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/shop_owl-carousel/front.shop.owl-carousel.catalog.init.js?v=v2.0.0-rc1"></script>
		<script src="assets/plugins/forms_elements_bootstrap-select/js/bootstrap-select.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/forms_elements_bootstrap-select/bootstrap-select.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/plugins/media_holder/holder.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/plugins/other_appear/jquery.appear.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/core/core.init.js?v=v2.0.0-rc1"></script>
</body>
</html>