<!DOCTYPE html>
<html ng-app="Alma" ng-controller="homeCtrl">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Alma</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="assets/plugins/morris/morris.css">

        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">

        
    </head>


    <body class="fixed-left">
        
        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
           <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="ion-close"></i>
                </button>

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <!--<a href="index.html" class="logo">Admiry</a>-->
                        <a href="javascript:void(0);" class="logo"><img data-ng-src="{{logoOficial}}" height="160" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">

                    <div id="sidebar-menu">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" ng-click="redirect('home','')" class="waves-effect">
                                    <i class="mdi mdi-view-dashboard"></i>
                                    <span> {{micuenta}} <span class="badge badge-primary pull-right">{{listadoMenu.length}}</span></span>
                                </a>
                            </li>

                            <li ng-repeat="menu in listadoMenu">
                                <a href="javascript:void(0);" ng-click="redirect(menu.ir,menu.name)" class="waves-effect"><i class="{{menu.icono}}"></i> <span> {{menu.name}} </span> </a>                                
                            </li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <nav class="navbar-custom">

                            <ul class="list-inline float-right mb-0">
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="javascript:void(0);" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="ion-ios7-bell noti-icon"></i>
                                        <span class="badge badge-success noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5><span class="badge badge-danger float-right">87</span>{{notification}}</h5>
                                        </div>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                        </a>

                                        <!-- All-->
                                        <!--a href="javascript:void(0);" class="dropdown-item notify-item">
                                            View All
                                        </a-->

                                    </div>
                                </li>

                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="javascript:void(0);" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="ion-android-settings noti-icon"></i>
                                    </a>                                    
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <a class="dropdown-item" href="javascript:void(0);" ng-click="redirect('home','')"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> {{micuenta}}</a>
                                        <!--a class="dropdown-item" href="#"><span class="badge badge-success pull-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a-->
                                        <!--a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a-->
                                        <a class="dropdown-item" href="javascript:void(0);" ng-click="cerrarSession()"><i class="mdi mdi-logout m-r-5 text-muted"></i> {{cerrarSesion}}</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="ion-navicon"></i>
                                    </button>
                                </li>
                                <li class="hide-phone list-inline-item app-search">
                                    <h3 class="page-title">{{titulo}}</h3>
                                </li>
                            </ul>

                            <div class="clearfix"></div>

                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <div ui-view></div>

                </div> <!-- content -->

                <footer class="footer">
                    © 2017 Alma.
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->

        

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-swagger-ui/dist/scripts/swagger-ui.js"></script>
        <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-spinkit/src/angular-spinkit.js"></script>
        <script src="bower_components/angular-md5/angular-md5.js"></script>
        <script src="extern_modules/angular-jwt/dist/angular-jwt.js"></script>
        <script src="extern_modules/a0-angular-storage/dist/angular-storage.js"></script>

        <script type="text/javascript" src="config/App.js"></script>
        <script type="text/javascript" src="config/routes.js"></script>
        
        <script type="text/javascript" src="scripts/directives/access.js"></script> 

        <script type="text/javascript" src="scripts/factories/factory.js"></script>            
        <script type="text/javascript" src="scripts/factories/authInterceptor.js"></script>  

        <script type="text/javascript" src="scripts/services/autenticacionService.js"></script>    
        <script type="text/javascript" src="scripts/services/LayoutService.js"></script>    
        <script type="text/javascript" src="scripts/services/ResumenService.js"></script>    
        <script type="text/javascript" src="scripts/services/MisDatosService.js"></script>    
        <script type="text/javascript" src="scripts/services/MiTraficoService.js"></script>    
        <script type="text/javascript" src="scripts/services/MiFacturacionService.js"></script>    
        <script type="text/javascript" src="scripts/services/MisServiciosService.js"></script>    
        <script type="text/javascript" src="scripts/services/MiEquipoService.js"></script>    
        <script type="text/javascript" src="scripts/services/CorrienteService.js"></script>    

        <script type="text/javascript" src="scripts/controller/homeCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/loginCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/misDatosCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/facturacionCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/miTraficoCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/misServiciosCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/misEquipoCtrl.js"></script>
        <script type="text/javascript" src="scripts/controller/cCorrienteCtrl.js"></script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/modernizr.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!--Morris Chart-->
        <!--<script src="assets/plugins/morris/morris.min.js"></script>
        <script src="assets/plugins/raphael/raphael-min.js"></script>
        

        <script src="assets/pages/dashborad.js"></script>-->

        <!-- App js -->
        <script src="assets/js/app.js"></script>
        <!-- KNOB JS -->
        <script src="assets/plugins/jquery-knob/excanvas.js"></script>
        <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

        <script>
            $(function() {
                $(".knob").knob();
            });
        </script>
    </body>
</html>