    <script src="../assets/library/jquery/jquery.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/library/jquery/jquery-migrate.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/library/modernizr/modernizr.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/core_less-js/less.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/charts_flot/excanvas.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/core_browser/ie/ie.prototype.polyfill.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/library/jquery-ui/js/jquery-ui.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/core_jquery-ui-touch-punch/jquery.ui.touch-punch.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>    <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

        <div id="content"><div class="page-title">
	<div class="container">
		<a href="javascript:void(0);" ng-click="redirect('catalog')" class="btn btn-default btn-sm"><i class="fa fa-arrow-left fa-fw"></i> {{volver}}</a>
		<a href="javascript:void(0);" ng-click="redirect('shipping')" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-check"></i> {{pagar}}</a>
	</div>
</div>

<div class="container">
	<div class="heading-buttons">
		<h3 class="pull-left">{{titulocarro}} <i class="fa fa-fw fa-shopping-cart text-faded"></i></h3>
		
		<div class="clearfix"></div>
	</div>
	
	<div class="separator bottom"></div>
	
	<!-- Shopping cart -->
	<div class="overflow-x">
		
		<!-- Cart table -->
		<table class="table table-bordered table-primary table-striped table-vertical-center checkboxs js-table-sortable">
			<thead>
				<tr>
					<th style="width: 1%;" class="uniformjs"></th>
					<th style="width: 1%;" class="center">{{numero}}</th>
					<th></th>
					<th style="width: 50px;">{{cantidad}}</th>
					<th style="width: 50px;"></th>
					<th style="width: 80px;">{{precio}}</th>
				</tr>
			</thead>
			<tbody>
				<!-- Cart item -->
				<tr class="selectable" ng-repeat="producto in carro">
					<td class="center uniformjs"></td>
					<td class="center">{{producto.id}}</td>
					<td class="product">
						<div class="media">
							<a href="javascript:void(0);" ng-click="redirect('product')" class="media-object pull-left hidden-xs"><img width="80" height="116" style="width: 80px; height: 116px;" class="thumb" data-ng-src="{{imagen}}" width="80" alt=""></a>
							<div class="media-body">
								<h5 class="text-uppercase"><a href="javascript:void(0);" ng-click="redirect('product')" class="text-primary">{{producto.name}}</a></h5>
								<p>{{producto.descripcion}}</p>
								<div class="clearfix"></div>
							</div>
						</div>
					</td>
					<td class="center"><input type="text" value="{{producto.cantidad}}" class="form-control input-block-level" style="margin: 0;width: 50px;" /></td>
					<td class="center">
						<button class="btn btn-primary btn-circle"><i class="fa fa-times"></i></button>
					</td>
					
					<td class="center">
						<span class="strong">{{producto.total}}</span>
					</td>
				</tr>
				<!-- // Cart item END -->
								
			</tbody>
		</table>
		<!-- // Cart table END -->

	</div>
</div>

<div class="bg-gray border-top innerTB inner-2x">
	<div class="container innerTB inner-2x">
		<!-- Row -->
		<div class="row">
			<div class="col-md-6">
				</div>		
			<!-- Column -->
			<div class="col-md-3">
				<table class="table table-borderless table-condensed cart_total">
					<tbody>
						<tr>
							<td class="right border-top-none">{{subtotal}}:</td>
							<td class="right border-top-none strong">
								<span class="text-primary">{{subtotalval}}</span>
							</td>
						</tr>						
						<tr>
							<td class="right">{{total}}:</td>
							<td class="right strong">{{totalval}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // Column END -->
			
			<div class="col-md-3">
				<div class="box-generic padding-none text-center">
					<p class="lead margin-none strong innerAll border-bottom">{{total}}: {{totalval}}</p>
					<div class="innerAll">
						<a href="javascript:void(0);" ng-click="redirect('shipping')" class="btn btn-block btn-primary"><i class="fa fa-fw fa-check"></i> {{pagar}}</a>
					</div>
				</div>
			</div>
			
		</div>
		<!-- // Row END -->
	</div>
</div>

    </div>
  

    <script src="../assets/library/bootstrap/js/bootstrap.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/front_core/front.core.init.js?v=v2.0.0-rc1"></script>
<script src="../assets/components/shop_core/shop.animations.init.js?v=v2.0.0-rc1"></script>
<script src="../assets/plugins/core_preload/pace.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/core_preload/preload.pace.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/forms_elements_uniform/js/jquery.uniform.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/forms_elements_uniform/uniform.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/tables/tables-classic.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/forms_elements_bootstrap-select/js/bootstrap-select.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/forms_elements_bootstrap-select/bootstrap-select.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/core/core.init.js?v=v2.0.0-rc1"></script>
