<div id="content">
	
	<div class="bg-gray border-bottom innerT">
    <div class="container innerTB inner-2x">
        <div id="owl-catalog" class="owl-carousel owl-theme">
	  	  	
  	<div class="item">
  		<div class="box-generic">
	  		<div class="wrapper">
	  			<div class="row">
					<div ng-repeat="producto in productos">
						<div class="col-lg-9 col-md-8 padding-none">
							<a href="javascript:void(0);" ng-click="redirectdetalle(producto)">
								<img data-ng-src="{{producto.imagen}}" alt="photo" class="img-responsive" />
							</a>
						</div>
						<div class="col-lg-3 col-md-4 padding-none">
							<div class="innerAll inner-2x">
								<a href="javascript:void(0);" ng-click="redirectdetalle(producto)" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
								<h3 class="text-uppercase">{{producto.name}}</h3>
								<span class="text-primary text-medium text-condensed">{{producto.precio}}</span>
								<div class="clearfix"></div>
								<div class="separator"></div>

								<p class="innerTB">{{producto.descripcion}}</p>

								<a href="javascript:void(0);" ng-click="redirectdetalle(producto)" class="btn btn-primary"><i class="fa fa-plus"></i> {{addcart}}</a>
							</div>
						</div>
					</div>
								  
				</div>
	  		</div>
		</div>
  	</div>
  	  	
 





    </div>
</div>

<div class="container">
    <div class="row innerTB">
			<div class="col-md-3" data-animate="fadeInRight" data-delay="200">
					<h5 class="">{{categorialabel}}</h5>
					<ul class="list-group list-group-front">
				  <li ng-repeat="menu in categorias" class="list-group-item {{menu.active}}">
					  <a href="javascript:void(0);" ng-click="redirect(menu)" class="waves-effect"><i class="{{menu.icono}}"></i> <span> {{menu.name}} </span> </a>                                
				  </li>
			  </ul>
			  
			  </div>
        <div class="col-md-9">	

	<h5 class=" margin-none">{{catalogo}}</h5>
	<div class="row">

		<div class="col-sm-4 col-xs-12" ng-repeat="producto in productos">
			<div class="widget widget-pinterest fixed-height" data-animate="bounceIn" data-delay="200">
				<div  ng-show="{{producto.nuevo}}">
					<div class="mark">
						<span class="caret caret-primary"></span>
						<span class="text">New</span>  
					</div>
				</div>
								<div class="widget-body padding-none">
					<a href="javascript:void(0);" ng-click="redirectdetalle(producto)" class="thumb"><img data-ng-src="{{producto.imagen}}" alt="" class="img-responsive"></a>
					<div class="description">
						<a href="javascript:void(0);" ng-click="redirectdetalle(producto)" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
						<h5 class="text-uppercase">{{producto.name}}</h5>
						<span class="text-primary text-medium text-condensed">{{producto.precio}}</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!--div class="text-center innerT">
		<ul class="pagination pagination-centered margin-none">
	<li class="disabled"><a href="#">&laquo;</a></li>
	<li class="active"><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	<li><a href="#">&raquo;</a></li>
</ul>	</div-->
</div>






    </div>
</div>




	</div>
<script src="assets/library/bootstrap/js/bootstrap.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/front_core/front.core.init.js?v=v2.0.0-rc1"></script>
		<script src="assets/components/shop_core/shop.animations.init.js?v=v2.0.0-rc1"></script>
		<script src="assets/plugins/core_preload/pace.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/core_preload/preload.pace.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/plugins/media_owl-carousel/owl.carousel.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/shop_owl-carousel/front.shop.owl-carousel.catalog.init.js?v=v2.0.0-rc1"></script>
		<script src="assets/plugins/forms_elements_bootstrap-select/js/bootstrap-select.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/forms_elements_bootstrap-select/bootstrap-select.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/plugins/media_holder/holder.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/plugins/other_appear/jquery.appear.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
		<script src="assets/components/core/core.init.js?v=v2.0.0-rc1"></script>