
    <script src="../assets/library/jquery/jquery.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/library/jquery/jquery-migrate.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/library/modernizr/modernizr.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/core_less-js/less.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/charts_flot/excanvas.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/core_browser/ie/ie.prototype.polyfill.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>    <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>


        <div id="content"><div class="bg-gray border-bottom">
	<div class="container innerTB inner-2x">
		<div class="pull-right">
			
			</div>
		</div>
		<h2 class="margin-none">Shipping <i class="fa fa-fw fa-truck fa-flip-horizontal"></i></h2>
	</div>
</div>
		
<div class="container">

	<div class="row">
		<div class="col-md-8">
			
			<div class="navigation">

				<!-- Buttons -->
				<ul class="buttons nav nav-tabs" id="myTab">
					<li class="active col-md-4 col-xs-12 padding-bottom-none padding-top-none"><a href="javascript:void(0);" ng-click="redirect('shipping')" class="btn"> 1. Detalle Envío</a></li>
					<li class="col-md-4 col-xs-12 padding-bottom-none padding-top-none"><a href="javascript:void(0);" ng-click="redirect('payment')" class="btn ">2. Pagos</a></li>
					<li  class="col-md-4 col-xs-12 padding-bottom-none padding-top-none"><a href="javascript:void(0);" ng-click="redirect('confirmation')" class="btn ">3. Confirmacion</a></li>
				</ul>
				<!-- /Buttons -->

			  	<div class="tab-content innerAll inner-2x">
					<div class="tab-pane active" id="one">
						<div class="innerAll inner-2x">
							<form action="" class="form-horizontal">
								<div class="form-group">
									<label for="inputName" class="col-sm-3 control-label">Nombres</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Name">
									</div>
								</div>
								<div class="form-group">
									<label for="inputName" class="col-sm-3 control-label">Apellidos</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Name">
									</div>
								</div>
								<div class="form-group">
									<label for="inputName" class="col-sm-3 control-label">Direccion</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Name">
										<div class="separator"></div>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Name">
									</div>
								</div>								
								<div class="form-group">
									<label for="inputName" class="col-sm-3 control-label">Datos Adicionales</label>
									<div class="col-sm-6">
										<textarea class="form-control"></textarea>
									</div>
								</div>								
								<div class="form-group">
									<div class="col-sm-6 col-sm-offset-3">
										<a href="checkout_payment.html" class="btn btn-primary">Contine to Payment <i class="fa fa-fw fa-arrow-right"></i></a>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /tab one content  -->
			  	</div>
				<!-- /tab-content -->
			</div>

		</div>
		<div class="col-md-4">
			<div class="box-generic padding-none">
				<h4 class="innerAll border-bottom margin-none">Need Help?</h4>
				<div class="innerAll inner-2x">
					<div class="lead innerAll text-center">
                        <i class="fa fa-5x text-faded fa-phone"></i>
                        <div class="separator"></div>
                        <p class="lead strong">Call us! <span class="text-primary">Toll Free</span></p>
                        1-800-MY-SHOP
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-gray border-top innerTB inner-2x">
	<div class="container innerTB inner-2x">
		<!-- Row -->
		<div class="row">
		
			<!-- Column -->
			<div class="col-md-6">
				<div class="box-generic text-center innerAll inner-2x">
				
				</div>
			</div>
			<!-- Column END -->
			
			<!-- Column -->
			<div class="col-md-3">
				<table class="table table-borderless table-condensed cart_total">
					<tbody>
						<tr>
							<td class="right border-top-none">Subtotal:</td>
							<td class="right border-top-none strong">
								<span class="text-primary">$ 462.000</span>
							</td>
						</tr>
						<tr>
							<td class="right">Despacho:</td>
							<td class="right strong">$ 500.000</td>
						</tr>
						<tr>
							<td class="right">Total:</td>
							<td class="right strong">$ 119.000</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // Column END -->
			
			<div class="col-md-3">
				<div class="box-generic padding-none text-center">
					<p class="lead margin-none strong innerAll border-bottom">Total: $ 100.195</p>
					<div class="innerAll">
						<a href="javascript:void(0);" ng-click="redirect('cart')" class="btn btn-block btn-primary"><i class="fa fa-fw fa-edit"></i> Volver al carro</a>
					</div>
				</div>
			</div>
			
		</div>
		<!-- // Row END -->
	</div>
</div>


  
    </div>
  
    <!-- Global -->
    <script data-id="App.Config">
        var App = {};        var basePath = '',
            commonPath = '../assets/',
            rootPath = '../',
            DEV = false,
            componentsPath = '../assets/components/';

        var primaryColor = '#eb6a5a',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;

            </script>

    <script src="../assets/library/bootstrap/js/bootstrap.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/front_core/front.core.init.js?v=v2.0.0-rc1"></script>
<script src="../assets/components/shop_core/shop.animations.init.js?v=v2.0.0-rc1"></script>
<script src="../assets/plugins/core_preload/pace.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/core_preload/preload.pace.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/plugins/forms_elements_bootstrap-select/js/bootstrap-select.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/forms_elements_bootstrap-select/bootstrap-select.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/forms_elements_fuelux-checkbox/fuelux-checkbox.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="../assets/components/core/core.init.js?v=v2.0.0-rc1"></script>
