<div class="page-content-wrapper ">

                        <div class="container">

                            <!--div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="mini-stat clearfix bg-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cart-outline"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">15852</span>
                                            Total Sales
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="mini-stat clearfix bg-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-currency-usd"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">956</span>
                                            New Orders
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="mini-stat clearfix bg-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-cube-outline"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">5210</span>
                                            New Users
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="mini-stat clearfix bg-primary">
                                        <span class="mini-stat-icon"><i class="mdi mdi-currency-btc"></i></span>
                                        <div class="mini-stat-info text-right text-white">
                                            <span class="counter">20544</span>
                                            Unique Visitors
                                        </div>
                                    </div>
                                </div>
                            </div-->

<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-block">           

                <ul class="list-inline widget-chart text-center">
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{bienvenido}} {{firstName}} {{lastName}}</h4>
                          <h4 class="font-16">{{rut}}: {{rutCliente}}</h4>
                          <h4 class="font-16">{{email}}: {{emailCliente}}</h4>
                      </div>
                      <div class="col-md-6" style="margin-top: 40px;">
                        <img src="assets/images/sucursalOnline.jpg" class="img-responsive">
                      </div>
                    </div>
                    <hr>
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{centrodecostos}}:</h4>                          
                      </div>
                      <div class="col-md-6">
                            <select class="form-control">
                                <option value="0">975687660</option>
                            </select>
                      </div>
                    </div>    
                </ul>

            </div>
        </div>
    </div>

        <div class="col-xl-6">
            <div class="card m-b-20" style="height: 243px;">
                <div class="card-block">
                   <div class="row" style="background-color: #f0f1f4;">
                       <div class="col-md-12" style="text-align: left;  padding-top: 5px;">
                            <h4 class="mt-0 header-title">{{resumenMisDatos}}</h4>                          
                      </div>
                   </div>
                    <div class="row">                     
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{celular}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{prip1}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{miplan}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card m-b-20" >
                
                <div class="card-block">
                   <div class="row" style="background-color: #f0f1f4;">
                       <div class="col-md-12" style="text-align: left;  padding-top: 5px;">
                            <h4 class="mt-0 header-title">{{resumenFacturacion}}</h4>                          
                      </div>
                   </div>
                    <div class="row">                     
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{ciclo}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{estado}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{vencimiento}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{totalapagar}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card m-b-20">
               
                <div class="card-block">
                   <div class="row" style="background-color: #f0f1f4;">
                       <div class="col-md-12" style="text-align: left;  padding-top: 5px;">
                            <h4 class="mt-0 header-title">{{resumenTrafico}}</h4>                          
                      </div>
                   </div>
                    <div class="row">                     
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{periodo1}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{prip1}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{voz}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{sms}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{internet}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card m-b-20" style="height: 284px;">                
                <div class="card-block">
                   <div class="row" style="background-color: #f0f1f4;">
                       <div class="col-md-12" style="text-align: left;  padding-top: 5px;">
                            <h4 class="mt-0 header-title">{{resumenMisPagos}}</h4>                          
                      </div>
                   </div>
                    <div class="row">                     
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{periodo2}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{saldo}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{saldoanterior}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{total}}:</h4>                          
                      </div>
                      <div class="col-md-6" style="margin-top: 10px">
                            56975687660
                      </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->