<!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="ion-close"></i>
                </button>

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <!--<a href="index.html" class="logo">Admiry</a>-->
                        <!-- <a href="index.html" class="logo"><img src="assets/images/logo.png" height="42" alt="logo"></a> -->
                        <a href="index.html" class="logo"><img src="assets/images/users/avatar-1.jpg" alt="" class="rounded-circle"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">

                    <div class="user-details">
                        <!-- div class="text-center">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="rounded-circle">
                        </div> -->
                        <div class="user-info">

							<div class="row">
							  <div class="col-xs-6 col-sm-6"><h4 class="font-16-bold">{{bienvenido}}</h4></div>
							  <div class="col-xs-6 col-sm-6"><h4 class="font-16">{{firstName}}</h4></div>	  
							</div>     
							<div class="row">
							  <div class="col-xs-6 col-sm-6"><h4 class="font-16-bold">{{rut}}</h4></div>
							  <div class="col-xs-6 col-sm-6"><h4 class="font-16">{{firstName}}</h4></div>	  
							</div> 
							<div class="row">
							  <div class="col-xs-6 col-sm-6"><h4 class="font-16-bold">{{email}}</h4></div>
							  <div class="col-xs-6 col-sm-6"><h4 class="font-16">{{firstName}}</h4></div>	  
							</div>                       
	                     </div>
                    </div>

                    <div id="sidebar-menu">
                        <ul>
                           <!-- <li>
                                <a href="index.html" class="waves-effect">
                                    <i class="mdi mdi-view-dashboard"></i>
                                    <span> Dashboard <span class="badge badge-primary pull-right">8</span></span>
                                </a>
                            </li>
 -->						<li style="margin: 20px">
 								<span> <h4 class="font-16">{{micuenta}}</h4></span>		
 							</li>
 							<hr>
                            <li ng-repeat="menu in listadoMenu">
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-buffer"></i> <span> {{menu}} </span> </a>
                                <hr>
                            </li>
                           

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <nav class="navbar-custom">                            

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="ion-navicon"></i>
                                    </button>
                                </li>
                                <li class="hide-phone list-inline-item app-search">
                                    <h3 class="page-title">Dashboard</h3>
                                </li>
                            </ul>

                            <div class="clearfix"></div>

                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container">

                                contenido aca

                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    © 2017 Alma.
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->
