<!-- Begin page -->
        <div id="wrapper">

            <!-- Start right Content here -->

            <div>
                <!-- Start content -->
                <div class="content">
                   

                    <div class="page-content-wrapper ">

                        <div class="container">

                                <!-- Begin page -->
                    <div class="accountbg"></div>
                <div class="wrapper-page">

            <div class="card">
                <div class="card-block">

                    <h3 class="text-center mt-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img src="assets/images/logo.png" height="54" alt="logo"></a>
                    </h3>
                    
                    <div class="p-3">
                        

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" ng-model="usuario" type="text" required="" placeholder="Usuario">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" ng-model="password" type="password" required="" placeholder="Contraseña">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Recuerdame</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button ng-click="login()" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Entral</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-sm-7 m-t-20">
                                    <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock    "></i> Forgot your password?</a>
                                </div>
                                <div class="col-sm-5 m-t-20">
                                    <a href="pages-register.html" class="text-muted"><i class="mdi mdi-account-circle"></i> Create an account</a>
                                </div>
                            </div>
                        
                    </div>

                </div>
            </div>
        </div>


                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    © 2017 Alma.
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->






        