<div class="page-content-wrapper ">

                        <div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-block">           

                <ul class="list-inline widget-chart text-center">
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{bienvenido}} {{firstName}} {{lastName}}</h4>
                          <h4 class="font-16">{{rut}}: {{rutCliente}}</h4>
                          <h4 class="font-16">{{email}}: {{emailCliente}}</h4>
                      </div>
                      <div class="col-md-6" style="margin-top: 40px;">
                        <img src="{{sucursalonlineImagen}}" class="img-responsive">
                      </div>
                    </div>
                    <hr>
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{centrodecostos}}:</h4>                          
                      </div>
                      <div class="col-md-6">
                            <select class="form-control">
                                <option value="0">975687660</option>
                            </select>
                      </div>
                    </div>    
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align: left;">
        <div class="card m-b-20">
            <div class="card-block" >  
               <ul class="list-inline widget-chart">
                          <div class="row">
                            <div class="col-md-12"><h4 class="font-16">Mis Pagos</h4></div>
                          </div>                      
                          <div class="row">
                            <div class="col-md-12">
                              <table class="table table-hover m-b-0">
                                  <thead>
                                  <tr style="background-color: #f0f1f4;">
                                      <th>Folio</th>
                                      <th>Emisión</th>
                                      <th>Vencimiento</th>                                                    
                                      <th>Monto</th>
                                      <th>Estado</th>
                                      <th>Factura</th>
                                  </tr>

                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>folio</td>
                                      <td>emision</td>
                                      <td>vencimiento</td>
                                      <td>monto</td>
                                      <td>estado</td>
                                      <td><button type="button" class="btn btn-link">Ver</button></td>
                                  </tr>                                       

                                  </tbody>
                              </table>
                            </div>
                          </div> 
                        </ul>
                  </div>
                </div>
              </div>
    </div>
    <!-- end row -->

                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->