
<div class="page-content-wrapper ">

                        <div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-block">           

                <ul class="list-inline widget-chart text-center">
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{bienvenido}} {{firstName}} {{lastName}}</h4>
                          <h4 class="font-16">{{rut}}: {{rutCliente}}</h4>
                          <h4 class="font-16">{{email}}: {{emailCliente}}</h4>
                      </div>
                      <div class="col-md-6" style="margin-top: 40px;">
                        <img src="{{sucursalonlineImagen}}" class="img-responsive">
                      </div>
                    </div>
                    <hr>
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{centrodecostos}}:</h4>                          
                      </div>
                      <div class="col-md-6">
                            <select class="form-control" ng-model="numeroSeleccionado" ng-change="recargaNumero()">
                                <option value="{{numero}}" ng-repeat="numero in numeros">{{numero}}</option>
                            </select>
                      </div>
                    </div> 
                     <div class="alert alert-success" ng-show="sindeuda" role="alert" style="margin-top: 10px;">
                        <strong>{{sindeudatext}}</strong>
                  </div> 
                  <div class="alert alert-warning" ng-show="apunto" role="alert">
                      <strong>{{apuntovencer}}!</strong> {{apuntovencer2}}
                  </div>
                  <div class="alert alert-danger" ng-show="condeuda" role="alert">
                      <strong>{{presentadeuda}}</strong> {{presentadeuda2}}
                  </div>      
                </ul>

            </div>
        </div>
    </div>

    <div class="col-md-12">
      <!-- Nav tabs -->
<div class="card m-b-20">
      <div class="card-block">
          <h4 class="mt-0 header-title">{{bolsastext}}</h4>
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link active" href="javascript:void(0);" ng-click="bolsastab()" data-toggle="tab">{{tab1}}</a>
              </li>
              <li class="nav-item">
                   <a class="nav-link" href="javascript:void(0);" ng-click="bolsashistoricastab()" role="tab" data-toggle="tab">{{tab2}}</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="javascript:void(0);"  ng-click="ventaroamingtab()" role="tab" data-toggle="tab">{{tab3}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0);" ng-click="historicoroamingtab()" role="tab" data-toggle="tab">{{tab4}}</a>
              </li>
          </ul>
          
           <!-- Tab panes -->
                                            <div>
                                                <div class="tab-pane p-3" ng-show="bolsas">
                                                    <p class="font-14 mb-0">
                                                        Raw denim you probably haven't heard of them jean shorts Austin.
                                                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                                                        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                                                        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
                                                        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                                                        iphone. Seitan aliquip quis cardigan american apparel, butcher
                                                        voluptate nisi qui.
                                                    </p>
                                                </div>
                                                <div class="tab-pane p-3" ng-show="bolsashistoricas" role="tabpanel">
                                                    <p class="font-14 mb-0">
                                                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                        single-origin coffee squid. Exercitation +1 labore velit, blog
                                                        sartorial PBR leggings next level wes anderson artisan four loko
                                                        farm-to-table craft beer twee. Qui photo booth letterpress,
                                                        commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                                                        vinyl cillum PBR. Homo nostrud organic, assumenda labore
                                                        aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr,
                                                        vero magna velit sapiente labore stumptown. Vegan fanny pack
                                                        odio cillum wes anderson 8-bit.
                                                    </p>
                                                </div>
                                                <div class="tab-pane p-3" ng-show="ventaroaming" role="tabpanel">
                                                    <p class="font-14 mb-0">
                                                        Etsy mixtape wayfarers, ethical wes anderson tofu before they
                                                        sold out mcsweeney's organic lomo retro fanny pack lo-fi
                                                        farm-to-table readymade. Messenger bag gentrify pitchfork
                                                        tattooed craft beer, iphone skateboard locavore carles etsy
                                                        salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                                                        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
                                                        mi whatever gluten-free, carles pitchfork biodiesel fixie etsy
                                                        retro mlkshk vice blog. Scenester cred you probably haven't
                                                        heard of them, vinyl craft beer blog stumptown. Pitchfork
                                                        sustainable tofu synth chambray yr.
                                                    </p>
                                                </div>
                                                <div class="tab-pane p-3" ng-show="historicoroaming" role="tabpanel">
                                                    <p class="font-14 mb-0">
                                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                                                        art party before they sold out master cleanse gluten-free squid
                                                        scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                                                        art party locavore wolf cliche high life echo park Austin. Cred
                                                        vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                                                        farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral,
                                                        mustache readymade thundercats keffiyeh craft beer marfa
                                                        ethical. Wolf salvia freegan, sartorial keffiyeh echo park
                                                        vegan.
                                                    </p>
                                                </div>
                                            </div>

      </div>
  </div>
       
    </div>

              <div class="col-md-12" style="text-align: left;">
        <div class="card m-b-20">
            <div class="card-block" >  
               <ul class="list-inline widget-chart">
                          <div class="row">
                            <div class="col-md-12"><h4 class="font-16">{{complementarios}}</h4></div>
                          </div>                      
                          <div class="row">
                            <div class="col-md-12">
                               <table class="table table-hover m-b-0">
                          <thead>
                          <tr style="background-color: #f0f1f4;">
                              <th>{{servicio}}</th>
                              <th>{{fecha}}</th>
                              <th>{{estado}}</th>                                                    
                              <th>{{accion}}</th>
                          </tr>

                          </thead>
                          <tbody>
                          <tr ng-repeat="servicio in servicios">
                              <td>{{servicio.servicio}}</td>
                              <td>{{servicio.fecha}}</td>
                              <td>{{servicio.estado}}</td>
                              <td><button type="button" class="btn btn-info">{{btnaccion}}</button></td>
                          </tr>                                       

                          </tbody>
                      </table>
                            </div>
                          </div>
                        </ul>
                  </div>
                </div>
              </div>
        
    </div>
    <!-- end row -->

                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->