<div class="page-content-wrapper ">

                        <div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="card m-b-20">
            <div class="card-block">           

                <ul class="list-inline widget-chart text-center">
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{bienvenido}} {{firstName}} {{lastName}}</h4>
                          <h4 class="font-16">{{rut}}: {{rutCliente}}</h4>
                          <h4 class="font-16">{{email}}: {{emailCliente}}</h4>
                      </div>
                      <div class="col-md-6" style="margin-top: 40px;">
                        <img src="{{sucursalonlineImagen}}" class="img-responsive">
                      </div>
                    </div>
                    <hr>
                <div class="row">
                      <div class="col-md-6" style="text-align: left;">
                          <h4 class="font-16">{{centrodecostos}}:</h4>                          
                      </div>
                      <div class="col-md-6">
                            <select class="form-control">
                                <option value="0">975687660</option>
                            </select>
                      </div>
                    </div> 
                     <div class="alert alert-success" ng-show="sindeuda" role="alert" style="margin-top: 10px;">
                        <strong>{{sindeudatext}}</strong>
                  </div> 
                  <div class="alert alert-warning" ng-show="apunto" role="alert">
                      <strong>{{apuntovencer}}!</strong> {{apuntovencer2}}
                  </div>
                  <div class="alert alert-danger" ng-show="condeuda" role="alert">
                      <strong>{{presentadeuda}}</strong> {{presentadeuda2}}
                  </div>      
                </ul>

            </div>
        </div>
    </div>

    <div class="col-md-12" style="text-align: left;">
        <div class="card m-b-20">
            <div class="card-block" >  
               <ul class="list-inline widget-chart">
                          <div class="row">
                            <div class="col-md-12"><h4 class="font-16">{{titulo1}}</h4></div>
                          </div>                      
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row text-center">
                                  <div class="col-lg-4 text-center">
                                      <h5 class="font-16 m-b-20">{{voz}}</h5>
                                      <input id="knobvoz" class="knob" data-width="150" data-min="-100" data-fgcolor="#eb7475" data-displayprevious="true" ng-model="vozvalue">
                                  </div>
                                  <div class="col-lg-4 text-center">
                                      <h5 class="font-16 m-b-20">{{datos}}</h5>
                                      <input id="knobdata" class="knob" data-width="150" data-min="-100" data-fgcolor="#eb7475" data-displayprevious="true" ng-model="datosvalue">
                                  </div>
                                  <div class="col-lg-4 text-center">
                                      <h5 class="font-16 m-b-20">{{sms}}</h5>
                                      <input id="knobsms" class="knob" data-width="150" data-min="-100" data-fgcolor="#eb7475" data-displayprevious="true" ng-model="smsvalue">
                                  </div>
                              </div>
                            </div>
                          </div> 
                        </ul>
                         <hr>                        

                        <ul class="list-inline widget-chart">
                  <div class="row">
                    <div class="col-md-12"><h4 class="font-16">{{titulo2}}</h4></div>
                  </div> 
                                     
                  <div class="row">
                    <div class="col-md-2"><select class="form-control">
                        <option ng-repeat="descarga in descargas" id="{{descarga.id}}">{{descarga.nombre}}</option>
                    </select></div>
                    <div class="col-md-2" style="text-align: right;padding-top: 5px;">{{fechainicio}}:</div>
                    <div class="col-md-2"><select class="form-control">
                        <option ng-repeat="inicio in fechainiciovalue" id="{{descarga.id}}">{{inicio.fecha}}</option>
                    </select></div>
                    <div class="col-md-2" style="text-align: right;padding-top: 5px;">{{fechafin}}:</div>
                    <div class="col-md-2"><select class="form-control">
                       <option ng-repeat="termino in fechaterminovalue" id="{{descarga.id}}">{{termino.fecha}}</option>
                    </select></div>
                    <div class="col-md-2"><button type="button" class="btn btn-info">{{descargar}}</button></div>
                  </div> 
                  <div class="row">
                    <div class="col-md-12">
                      {{explicativo1}}
                    </div>                   
                  </div>                    
                </ul>
                <hr>                
                <ul class="list-inline widget-chart">
                  <div class="row">
                    <div class="col-md-12"><h4 class="font-16">{{titulo3}}</h4></div>
                  </div> 
                  <div class="row">
                    <div class="col-md-12" style="text-align: right;"><button type="button" class="btn btn-info">{{bajarexcel}}</button></div>
                  </div>
                  <br>
                  <div class="row">
                            <div class="col-md-12">
                              <table class="table table-hover m-b-0">
                                  <thead>
                                  <tr style="background-color: #f0f1f4;">
                                      <th>{{fecha}}</th>
                                      <th>{{hora}}</th>
                                      <th>{{destino}}</th>                                                    
                                      <th>{{duracion}}</th>
                                      <th>{{tipo}}</th>
                                      
                                  </tr>

                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="detalle in detalles">
                                      <td>{{detalle.fecha}}</td>
                                      <td>{{detalle.hora}}</td>
                                      <td>{{detalle.destino}}</td>
                                      <td>{{detalle.duracion}}</td>
                                      <td>{{detalle.tipo}}</td>                                      
                                  </tr>                                       

                                  </tbody>
                              </table>
                            </div>
                          </div>
                  <div class="row">
                    <div class="col-md-12">
                     {{explicativo2}}
                    </div>                   
                  </div>                    
                </ul>
                  </div>
                </div>
              </div>
        
    </div>
    <!-- end row -->

                        </div><!-- container -->


                    </div> <!-- Page content Wrapper -->
                     