<html>

<head>
    <meta charset="UTF-8"/>



</head>

<body >

<div class="contaner" ng-controller="HomeAlma">
    <h1>ALMA CEL</h1>


    <div id="userList" >
        <div class="list-group">
            <div class="list-group-item">
                <div ng-repeat="layou in Homelayou" class="list-group-item" style="margin-top:16px">

                    <div class="row-content">
                        <h4 class="list-group-item-heading" >{{layou.nomOperacion}} {{layou.nomObjeto}} {{layou.nomtxt}}</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</body>

</html>